[submodule "oopI2/oopI2-aufgaben_doruk.oeztuerk"]
	path = oopI2/oopI2-aufgaben_doruk.oeztuerk
	url = https://gitlab.fhnw.ch/oopI2/2024hs/aufgaben/oopI2-aufgaben_doruk.oeztuerk
[submodule "SWEGL/fhnw-swegl-aufgaben-24-hs"]
	path = SWEGL/fhnw-swegl-aufgaben-24-hs
	url = https://gitlab.fhnw.ch/doruk.oeztuerk/fhnw-swegl-aufgaben-24-hs
